@layer components {
    .btn {
        border-radius: 4px;
        color: 400;
        display: inline-block;
        font-family: theme("fontFamily.body");

        padding: 12px 24px;

        &--primary {
            background-color: theme("colors.primary");
            color: theme("colors.white");

            &:hover {
                background-color: #fe4042;
            }
        }
        &--secondary {
            background-color: theme("colors.secondary");
            color: #373f50;

            &:hover {
                background-color: #d8deeb;
            }
        }
        &--danger {
            background-color: theme("colors.danger");
            color: theme("colors.white");

            &:hover {
                background-color: #f12152;
            }
        }

        &--success {
            background-color: theme("colors.succes");
            color: theme("colors.white");

            &:hover {
                background-color: #2bc583;
            }
        }

        &--info {
            background-color: theme("colors.info");
            color: theme("colors.white");

            &:hover {
                background-color: #409efe;
            }
        }

        &--outline {
            border: 1px solid theme("colors.sky.600");
            color: theme("colors.sky.600");

            &:hover {
                background-color: theme("colors.sky.600");
                color: theme("colors.white");
            }
        }
        &__icon {
            display: inline-block;
            font-size: 30px;
            margin-top: calc(-1 * 2px);
        }
    }
}
