.error-section {
    padding-top: 40px;

    &__title {
        color: theme("colors.slate.700");
        font-family: theme("fontFamily.body");
        font-size: 25px;
        font-weight: 300;
        text-align: center;
    }
}
