@layer components {
    .form {
        &__form-inline {
            @apply grid grid-cols-2 gap-4;
        }
        &__form-group {
            margin-bottom: 16px;
        }
        &__label {
            color: #373f50;
            font-size: 0.875rem;
            font-weight: 500;
            margin-bottom: 0.375rem;
        }
        &__input {
            background-clip: padding-box;
            background-color: #fff;
            border: 1px solid #dae1e7;
            border-radius: 0.3125rem;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
            color: #4b566b;
            display: block;
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 1.5;
            outline: none;
            padding: 0.625rem 1rem;
            transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
            width: 100%;
        }
        &__select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: #fff;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23373f50' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
            background-position: right 1rem center;
            background-repeat: no-repeat;
            background-size: 16px 12px;
            border: 1px solid #dae1e7;
            border-radius: 0.3125rem;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
            color: #4b566b;
            display: block;
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 1.5;
            padding: 0.625rem 3rem 0.625rem 1rem;
            -moz-padding-start: calc(1rem - 3px);
            transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
            width: 100%;
        }
        &__error-message {
            color: red;
            padding-bottom: 10px;
            text-align: center;
        }
    }
}
