.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px 0;

    &__icon {
        margin-right: 10px;
        &::before {
            content: "<";
        }
    }
    &__item {
        border-radius: 0.3125rem;
        color: rgb(75, 86, 107);
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
        margin: 0.15rem;
        padding: 5px 0px;
        padding: 5px 12px;

        &:hover {
            background-color: #f3f5f9;
        }
        &--active {
            background-color: #fe696a;

            box-shadow: 0 0.5rem 1.125rem -0.425rem rgba(254, 105, 106);
            color: white;
            cursor: default;

            &:hover {
                background-color: #fe696a;
            }
        }
    }
}
