.subtitle-section {
    padding-bottom: 20px;
    &__subtitle {
        color: theme("colors.slate.700");
        font-family: theme("fontFamily.body");
        font-size: 20px;
        font-weight: 500;
    }
}
