.table {
    border-color: #e3e9ef;
    width: 100%;

    .btn {
        margin-right: 10px;
    }
}
.table > :not(:last-child) > :last-child > * {
    border-bottom-color: #bccad9;
    text-align: left;
}
.table > :not(caption) > * > * {
    border-bottom-width: 1px;
    padding: 0.75rem 0.75rem;
}
